* {
    margin: 0;
    padding: 0;
    background-color: #e3f9ff;
}

body {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 5vw;
    margin: 0 auto;
}

header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .title a {
    /* font-weight: 700; */
    font-size: 4rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

nav a:hover {
    color: #eb49e1;
    transition: color 0.3s ease;
}

nav a.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color:#eb49e1;
}

main h1, main h2, main h3 {
    margin-bottom: 2rem;
    font-weight: 700;
    display: inline-block;
    /* background-color: #e3ffe9; */
    background: linear-gradient(to bottom,white,#e3ffe9);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    border: 1px solid black;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

main p {
    max-width: 65%;
    width: 100%;
    margin-top: -4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    padding-top: 3.5rem;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    /* background-color: #ffe8fe; */
    background: linear-gradient(to bottom,white,#ffe8fe);
    border: 1px solid black;
}

/* .content {
    /* margin-top: -4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    padding-top: 3.5rem; */
    /* background-color: #ffe8fe; 
} */

/* main img {
    margin-left: 2rem;
    width: 500px;
    background-color: #ffe8fe;

} */


.projects-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.project {
    flex: 1;
    min-width: 250px;
    /* max-width: 800px; */
    /* text-align: center; */
}

.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: -2rem;
    margin-top: -1rem;

}

.project h3 {
    margin-left: 2rem;
}

.project p {
    margin-left: 4rem;
}

/* .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */


.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.image-item {
    flex: 1 1 30%;
    margin-bottom: 1rem;
}


.image-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    border-top: 1px solid black;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

footer h2 {
    margin-bottom: 2rem;
}

footer .contact-info p{
    font-size: 2rem;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #eb49e1;
    transition: color 0.3s ease;
}



.back-to-top {
    text-align: center;
    margin: 2rem;
}

.back-to-top button {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    cursor: pointer;
}

.back-to-top button:hover {
    color: #eb49e1;
    transition: color 0.3s ease;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffe8fe;
}

::-webkit-scrollbar-thumb {
    background:#eb49e1;
    border-radius: 1rem;
    border: 2px solid #ffe8fe;
}

::selection {
    background-color: #eb49e1;
    color: white;
}

@media (max-width: 900px) {
    .image-item {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 600px) {
    .image-item {
        flex: 1 1 100%;
    }
}

@media (max-width: 900px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    
    }

    .project p {
        margin-left: 2rem;
        align-self: center;
    }

    .project h3 {
        margin-left: 5rem;
        margin-top: 0.5rem;
        align-self: center;
    }

    .project {
        flex: 1 1 100%;
    }
}


@media (max-width: 600px) {
    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    main p {
        font-size: 0.8rem;
    }

    nav a {
        font-size: 1rem;
    }

    nav .title a {
        font-size: 2rem;
    }
}

#barChart {
    background-color: white;
    border: 1px solid black;
    width: 70vw;
    height: 75vh;
}

#iPod {
    background-color: #ffe8fe;
    border: 1px solid black;
    width: 40vw;
    height: 80vh;
}

svg {
    /* margin-top: -1rem; */
    margin-bottom: 2rem;
    margin-top: -1rem;
}

.visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------------------------------ */

/* assignment 3 vegalite */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.container p {
    margin-top: 1rem;
    padding-top: 2rem;
}

.container h3 {
    margin-top: 1rem;
}


/* ------------------------------------------------------------------------ */