html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

header {
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerlogo {
    font-size: 24px;
}

.selected {
    font-weight: bold;
    color: darkblue;
}

svg {
    border: 1;
}
